#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.card-normal {
  color: yellow
}

.card-effect {
  color: orange
}

.card-ritual {
  color: rgb(67, 192, 234)
}

.card-synchro {
  color: white
}

.card-fusion {
  color: #bc8df6
}

.card-trap {
  color: #ff80ff
}

.card-spell {
  color: #90EE90
}

.set-core {
  color: rgb(143, 215, 239)
}

.set-deck {
  color: #e4aae4
}

.set-side {
  color: rgb(235, 178, 138)
}

.set-promo {
  color: rgb(161, 233, 143)
}