#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.card-normal {
  color: yellow
}

.card-effect {
  color: orange
}

.card-trap {
  color: #ff80ff
}

.card-spell {
  color: #90EE90
}